# LICENSE: Apache License 2.0 (c) 2026 Markys Gariboldo. All rights reserved.
# CONTOUR: M-498 | UNIT: 77 | PROTOCOL: AGARDA_RESONANCE_SHUTTLE_HD

__pycache__/
*.py[cod]
.venv/
venv/
.idea/
.vscode/
*.log
